<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./media/styles/style_main.css" />
  </head>
  <body>
    <header>
      <div class="header">
        <div class="header-logo">
          <a href="https://studentsays.ru/reports/"
            ><img
              class="big-logo"
              src="./media/images/header_white_logo.svg"
              alt="logo" /><img
              class="small-logo"
              src="./media/images/white-fire.svg"
              alt="logo"
          /></a>
        </div>
        <div>
          <search>
            <form>
              <input
                name="search"
                id="search"
                placeholder=""
                type="search"
                class="search-bar"
              />
              <button type="submit" class="search-button">
                <img src="./media/images/search.svg" alt="search" />
              </button>
            </form>
          </search>
        </div>
        <div class="header-navigation">
          <img src="./media/images/bell.svg" alt="notifications" />

          <img
            src="./media/images/rating.svg"
            alt="rating"
            class="header-rating"
          />

            <img src="./media/images/profile.png" alt="profile" onclick="openProfile()">
       
        </div>
      </div>
    </header>
    <div class="header-menu-close" id="header-menu-close" onclick="closeProfile()"></div>
    <section class="header-menu">
      <div class="header-menu-blocks">
        <div class="header-menu-profile" id="profile-block">
          <div class="header-menu-profile-header">
            <h1>Имя студента</h1>
          </div>
          <div class="header-menu-profile-el">
            <p>Настройки</p>
            <img src="./media/images/settings_profile.svg" alt="settings" />
          </div>
          <div class="header-menu-profile-el">
            <p>Понравившиеся обращения</p>
            <img src="./media/images/saved_profile.svg" alt="saved" />
          </div>
          <div class="header-menu-profile-el">
            <p>Мои обращения</p>
            <img src="./media/images/reports_profile.svg" alt="my" />
          </div>
          <div class="header-menu-profile-el">
            <p>Диалоги</p>
            <img src="./media/images/messages_profile.svg" alt="messages" />
          </div>
          <div class="header-menu-profile-el">
            <p>FAQ</p>
            <img src="./media/images/faq_profile.svg" alt="faq" />
          </div>
          <div class="header-menu-profile-el">
            <h1>Выйти</h1>
          </div>
        </div>
      </div>
    </section>
    <div id="report-section">
      {% for report in reports %}
      <section
        class="report-block"
        data-report-id="{{ report.idReport }}"
        onclick="openReport(this)"
      >
        <div class="space-between">
          <div class="report-header">
            <h1>{{ report.header }}</h1>
            <p>
              {% if report.anonym %} Анонимный студент {% else %} {% if
              report.idUser %} {{ report.idUser.first_name }} {{
              report.idUser.last_name }} {% else %} Неизвестный пользователь {%
              endif %} {% endif %}
            </p>
          </div>
          <div>
            <h1 class="report-status">{{ report.idStatus }}</h1>
          </div>
        </div>
        <div>
          <p class="report-text">{{ report.text }}</p>
        </div>
        <div class="space-between">
          <div class="report-buttons display-flex">
            <p id="rating" class="report-rating">{{ report.rating }}</p>
            <img src="/media/images/dark-grey-fire.svg" alt="rate-up" />
            <img
              src="/media/images/comments.svg"
              class="comments-img"
              alt="comments"
            />
            <img src="/media/images/link.svg" alt="share" />
          </div>
          <div>
            <p id="date_created">{{ report.date_created }}</p>
          </div>
        </div>
      </section>
      {% endfor %}
    </div>
  </body>
  <script src="./media/scripts/header_script.js"></script>

  </script>
</html>
