@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

.footer {
  max-width: 768px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
  margin: 0 auto;
}

.footer img {
  height: 1.5rem;
}

footer {
  padding: 0.5rem 0;
  width: 100vw;
  background-color: #cc2222;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.display-center {
  display: flex;
  justify-content: center;
}

.mobile-university-image {
  margin: 2rem;
  border-radius: 1rem;
  position: relative;
  aspect-ratio: 1/1;
  background-image: url(../images/university.jpg);
  background-size: cover;
  background-position: center;
}

.mobile-university-image h1 {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  color: white;
}

.mobile-university-info {
  margin: 0 2rem;
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.mobile-university-info p {
  margin-bottom: 0.5rem;
}

.mobile-darkgrey-white-button {
  background-color: #a7a4a4;
  color: white;
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: none;
  font-size: 1rem;
  width: 100%;
}

.color-red {
  color: #cc2222;
}

.mobile-grey-black-button {
  width: 100%;
  margin-top: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  border: none;
  padding: 0.75rem;
  background-color: #d9d9d9;
}

.mobile-university-button-block {
  box-sizing: border-box;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
}

.mobile-last-element {
  margin-bottom: 5rem;
}

.mobile-display {
  display: none;
}

.mobile-solved-university-image {
  margin: 2rem;
  border-radius: 1rem;
  position: relative;
  aspect-ratio: 2/1;
  background-image: url(../images/university.jpg);
  background-size: cover;
  background-position: center;
}

.mobile-solved-university-image h1 {
  position: absolute;
  bottom: 0;
  margin: 1rem;
  color: white;
}

.mobile-section-header {
  margin: 2rem 0 2rem 2rem;
  font-size: 1.5rem;
}

.mobile-report-block {
  margin: 0 2rem;
  box-sizing: border-box;
}

.mobile-report-solved-el {
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.mobile-report-solved-el-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0px;
}

.mobile-report-solved-el-header {
  grid-area: 1 / 1 / 2 / 4;
}

.mobile-report-solved-el-rating {
  grid-area: 1 / 4 / 2 / 5;
  display: flex;
  justify-content: right;
}

.mobile-report-solved-el-rating p {
  font-size: 1rem;
}

.mobile-report-solved-el-rating img {
  height: 1rem;
  margin-left: 0.25rem;
}

.mobile-report-solved-el-header h1 {
  font-size: 1rem;
}

.mobile-report-solved-el-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.mobile-report-solved-el-bottom p {
  font-size: 1rem;
}

.mobile-report-solved-el-status p {
  color: #cc2222;
  text-decoration: underline;
}

.mobile-back-button-block button {
  background-color: #d9d9d9;
  padding: 0.25rem 0.375rem;
  border: none;
  margin: 2rem 0 0rem 2rem;
  border-radius: 0.5rem;
}

.mobile-review-header {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.mobile-review-block {
  margin: 0 2rem;
  box-sizing: border-box;
}

.mobile-review-el {
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.mobile-review-el-header {
  display: flex;
  justify-content: space-between;
}

.mobile-review-el-header h1 {
  font-size: 1rem;
}

.mobile-review-el-text {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.mobile-review-el-rating {
  display: flex;
  justify-content: right;
}

.mobile-review-el-rating img {
  height: 1rem;
  margin-left: 0.25rem;
}

.mobile-report-el {
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.mobile-report-el-header {
  font-size: 1rem;
}

.mobile-report-el-author {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #cc2222;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.mobile-report-el-rating img {
  height: 1rem;
  margin-left: 0.25rem;
}

.mobile-report-sort-block {
  display: flex;
  margin: 0rem 0 2rem 0;
}

.mobile-sort-img {
  margin-right: 0.5rem;
}

.mobile-faq-block {
  padding: 0 2rem;
}

.mobile-faq-el {
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.mobile-faq-el-text {
  font-size: 1rem;
}

.mobile-faq-info-block {
  padding: 0 2rem;
}

.mobile-profile-block {
  padding: 0 2rem;
}

.mobile-profile-name {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.mobile-profile-el {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  background-color: #d9d9d9;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.mobile-profile-el p {
  font-size: 1rem;
  margin-top: 2px;
}

.mobile-profile-exit {
  background-color: #cc2222;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.mobile-single-report-block {
  padding: 0 2rem;
}

.mobile-single-report-block img {
  height: 1.5rem;
}

.mobile-single-report-header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.mobile-single-report-header-satus {
  color: #cc2222;
  text-decoration: underline;
  font-weight: 500;
}

.mobile-single-report-text {
  margin: 2rem 0;
  font-size: 1rem;
}

.mobile-single-report-footer {
  display: flex;
  justify-content: space-between;
}

.mobile-single-report-footer-left {
  display: flex;
}

.mobile-single-report-footer-left img {
  margin-right: 1rem;
}

.mobile-single-report-top-img {
  margin: 2rem 2rem 1rem 2rem;
  border-radius: 1rem;
  position: relative;
  aspect-ratio: 2/1;
  background-image: url(../images/university.jpg);
  background-size: cover;
  background-position: center;
}

.mobile-single-report-footer-right {
  display: flex;
  color: #cc2222;
}

.mobile-single-report-footer-right p {
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

.mobile-single-report-comments-el {
  margin-top: 1rem;
  background-color: #d9d9d9;
  border-radius: 0.75rem;
  padding: 1rem;
  color: #333333;
}

.mobile-single-report-comments-el-uni {
  background-color: #f26363;
  color: white;
}

.mobile-single-report-comments-el h1,
.mobile-single-report-comments-el p {
  font-size: 1rem;
}

.mobile-single-report-comments-el h1 {
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.mobile-single-report-comments-name {
  display: flex;
  margin: 1rem 0;
}

.mobile-single-report-comments-name h1 {
  margin-right: 1rem;
  font-size: 1rem;
}

.mobile-single-report-comments-name p {
  font-size: 1rem;
}

.mobile-single-report-comment {
  display: flex;
}

.mobile-single-report-comment-count {
  margin: 0 1rem 0 -0.5rem;
}

.mobile-notifications-block {
  padding: 0 2rem;
}

.mobile-single-report-gallery-el-header {
  margin: 1rem 0rem;
  font-size: 1rem;
}

.mobile-single-report-gallery-img-block {
  margin-bottom: 2rem;
  width: 200px;
  flex-shrink: 0;
  display: flex;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.mobile-single-report-gallery-el-img {
  width: 120px;
  height: 120px;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
  margin-right: 1rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .desktop-display {
    display: none;
  }
  .mobile-display {
    display: block;
  }
}
